<div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
        
        <div class="col-md-12">
            <div class="text-center mt-5 footer-copyright">
             Copyright   © @DateTime.Now.Year 
                <a href="/" class="font-weight-bold" target="_blank">Hardwin software solutions</a> - All rights reserved.
            </div>
        </div>
    </div>
</div>

