
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-white " href="@Url.Action("index","Home")">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Control panel</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white " href="@Url.Action("Index","Constmanagement")">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Cost management</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white " href="/">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Revenue management</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white " href="/">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">view_in_ar</i>
            </div>
            <span class="nav-link-text ms-1">Test</span>
        </a>
    </li>
  
</ul>